customCommands:
  - key: "<c-p>"
    description: "Push to Gerrit"
    command: "git push origin HEAD:refs/for/{{.CheckedOutBranch.Name}}"
    context: "global"
    loadingText: "Pushing to Gerrit..."
  - key: "C"
    description: "Commit with Conventional Commits"
    command: "git cz"
    context: "files"
    loadingText: "Committing with Conventional Commits..."
    output: terminal
gui:
  mouseEvents: false
